<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
    type="text/css">

</head>

<body>
  <table
    style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Rana Muhammad Shahroz Khan
              </h1>
              <p>I am a first year PhD student at <a href="https://www.unc.edu">UNC Chapel Hill</a> where I work on Efficient ML and NLP. My PhD
                advisor is <a href="https://tianlong-chen.github.io">Dr. Tianlong Chen</a>. Before that I did my Bachelors in Computer Science and Mathematics from  <a href="https://www.vanderbilt.edu">Vanderbilt University</a>,
                where I was advised by <a href="https://skolouri.github.io">Dr. Soheil Kolouri></a> and worked in the intersection of Computer Vision and Optimal Transport.
              </p>
              <p>
                During the summer of 2023, I was a Research Intern at <a href="https://www.llnl.gov">Lawrence Livermore National Laboratory</a> in the <a href="https://computing.llnl.gov/casc/machine-intelligence-group">Machine Intelligence Group</a> working under the guidance of 
                <a href="https://jjthiagarajan.com">Dr. Jay Thiagarajan</a>, <a href="https://people.llnl.gov/liu42">Dr. Shusen Liu</a> and <a href="https://www.rushila.com">Dr. Rushil Anirudh</a> on Bayesian Optimization for Uncertainty Quantification. 
                In the Summer of 2024, I also had the pleasure of working as a ML Research Intern at <a href="https://www.higharc.com">HighArc</a> under the supervision of <a href="https://www.ardavan.io">Dr. Ardavan Bidgoli</a>
                and <a href="https://manuelladron.github.io">Dr. Manuel Ladron de Guevara</a>.
              </p>
              <p style="text-align:center">
                <a target="_blank" href="mailto:shahroz@cs.unc.edu"> Email</a> &nbsp;/&nbsp;
                <a href="https://github.com/rana-shahroz">GitHub</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?hl=en&user=pdmMa3UAAAAJ&view_op=list_works&sortby=pubdate">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/rana-m-shahroz/"> LinkedIn </a> &nbsp;/&nbsp;
                <a href="https://drive.google.com/file/d/1g2wm2w2ZQKxhr6fbikNp3AAXzVqrKnS1/view?usp=sharing"> CV [01/2025]</a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/prof_pic.jpg">
            </td>
          </tr>
        </table>

        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
              <p>
                I'm interested in NLP and Generative AI, with interest in making it efficient. 
              </p>
            </td>
          </tr>
        </table>
        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">paper</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.youtube %}
              <a href="{{post.youtube}}">youtube</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>

        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's
                  website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>